// The classic first program in any language

fn main() {                                                                                                                                           
    println!("Hello, Rust!");                                                                                                                        
}                                                                                                                                                     
